@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
#container {
  position: relative;
  padding: 5rem 5rem;
}
tbody > tr {
  cursor: pointer;
}

.result {
  margin-top: 20px;
}
.input_product {
  width: 4.5rem;
}
.input_product_description {
  width: 25rem;
  height: 6rem;
}
.btn-prod-delete {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-prod-update {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.modal-footer {
  text-align: center;
  padding: 0px;
  margin: auto;
}
.btn-prod-func {
  text-align: center;
}
.btn-prod-add {
  background-color: #4c74af; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: flex;
  text-decoration: none;
  font-size: 16px;
}

.h6 {
  font-size: 1.3rem;
}
.h5 {
  font-size: 1.3rem;
}
.input_add_product {
  width: 15rem;
}
.add-prod-teble {
  border-collapse: separate;
  border-spacing: 2em;
}

/* #myTable {
  margin: auto;
  position: relative;
} */
.table table-hover {
  position: relative;
  float: left;
}
