{% extends 'base.html' %}
{% load static %}
{% block head %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% endblock %}
{% block content%}
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% comment %} <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"> {% endcomment %}
    
 <br><br><br><br>


    <div class="receipts-header" >
        <h2 style="text-align:center">
        Selling Report
        </h2>
    </div>   

<div class="well" style>
      <form action="{% url 'sellingreport' %}" method="GET">
    <select name="delta" style="margin: auto; width:10rem;height:2.5rem">
                                        <option selected>{{ShowDelta}}</option>
                                        <option value="365" >Last Year</option>
                                        <option value="90">Last Three month</option>
                                        <option value="30">Last Month</option>
                                        <option value="7">Last Week</option>
                                        <option value="1">Last Day</option>
                                    </select> 
                              <button type="submit" class="btn btn-primary">Show </button>
                      </form>
    <table class="table" id="table">
      <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th> Last Price </th>
                <th>Income </th>

            </tr>
                <th style="width: 10rem;"></th>
                </tr>
      </thead>
      {% for order in orders %}
      <tbody>
        <tr>    
          <td>{{order.id}}</td>     
          <td>{{order.name}}</td>    
          <td>X{{order.quantity}}</td>
          <td>{{order.price}}</td>     
          <td>{{order.income}}</td>      
        </tr>
        
      </tbody>
       {% endfor %}
    </table>
     <hr>
        <div class="total" id="sum"> 
          <div>
            <h2 >TOTAL:<span id="sum" style="color:red;font-size:1.7rem" > {{total_income}}  $</span> </h2>
          </div>
        </div>
</div>



 <br><br><br><br>
 {% endblock  %}